input.form-control {
	border-radius: 0;
}
button {
	outline: none;
}
#section00 {
	height: 80px;
	text-align: center;
	padding: 10px 0;
}
#icon-right {
	padding-top: 15px;
}
#section01 {
	height: 40px;
	text-align: right;
}
#section02 {
	background: url('../img/header.png') scroll center no-repeat;
	color: #fff;
	min-height:580px;
	height: calc(100vh - 120px);
	background-size: cover;
}

#section02 article hr {
	background-color: #fff;
	width: 10%;
}
#section02 article h3 {
	padding-top: 5%;
}
#test, #section03 {
	font-family: 'Lato', sans-serif;
}
#section02 article{
	padding-top: 8%;
	font-family: 'Bitter', serif;
}
#section03 h2 {
	font-family: 'Bitter', serif;
}
#section03 h4 {
	font-weight: bold;
}
#section03 {
	padding-bottom: 60px;
}
#test input.form-control {
	width: 300px;
	margin: 15px auto 0 auto;
}
#test .form-control-feedback-url,
#test .form-control-feedback-email {
	width: 300px;
	background-color: #d34c59;
	padding: 2px 12px;
	text-align: left;
	margin: auto;
}
#section04 {
	background-color: #01397c;
	color: #fff;
}
#section04 .row>div {
	height: 120px;
	text-align: center;
}
#section04 .btn-transparent {
	margin-top: 40px;
}
#section05 {
	background-color: #222;
	color: #fff;
	min-height: 40px;
	height: auto;
	text-align: center;
}
#section05 .left-column {
	padding: 15px 10px; 
}
#section05 nav {
	overflow: auto;
}
#section05 nav ul {
	list-style: none;
	margin: 0;
}
#section05 nav li{
	float: left;
	padding: 15px 10px;
}
#section05 li a{
	color: #396888;
	text-decoration: underline;
}
#section05 li a:active,
#section05 li a:hover {
	color: #fff;
}

.modal-content {
	text-align: center;
	border-radius: 0px;
}
.modal-header {
	border-bottom: 0;
	font-family: 'Bitter', serif;
	font-weight: bold;
}
.modal-header .modal-title {
	font-weight: bold;
}
.modal-body form input {
	margin-bottom: 15px;
}
.modal-body form button {
	font-weight: bold;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.progress {
	border-radius: 0;
}
.progress-bar-danger {
	background-color: #f23e53;
}
.progress-bar-info {
	background-color: #ffe617;
}
.progress-bar-warning{
	background-color: #ffa518;
}
.progress-bar-success {
	background-color: #4dba05;
}
#pbar-security b,
#pbar-communication b{
	color: #f23e53;
	font-weight: bold;
}
#pbar-confidentiality .col-md-2 {
	font-weight: bold;
	padding-right: 0;
}
#section02 .btn-transparent {
	margin-top: 15px;
}
.btn-transparent {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 0;
}
.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
	background-color: #fff;
	color: #0070bb;
}
.btn-border-blue {
	color: #4497ce;
	border-radius: 0;
	border: 1px solid #4497ce;
	background-color: #fff;
}
.btn-border-blue:hover,
.btn-border-blue:active,
.btn-border-blue:focus {
	background-color: #4497ce;
	color: #fff;
}

@media (max-width: 767px) {
	#section00 {
		height: 80px;
		padding: 10px 0;
	}
	#section01 {
		text-align: center;
	}
	#section02 {
		min-height:480px;
		height: calc(100vh - 200px);
	}
	#test input.form-control {
		width: 80%;
	}

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  and (-webkit-min-device-pixel-ratio : 2) {
	#section02 h1 {
		font-size: 25px;
	}
	#section02 h4 {
		display: none;
	}
}