Header always set Strict-Transport-Security "max-age= 31536000; includeSubdomains; preload"
Header always set X-Frame-Options DENY
Header always set X-XSS-Protection "1; mode=block"
Header set X-Content-Security-Policy "allow 'self';"
Header set X-Content-Type-Options "nosniff"
<ifModule mod_headers.c>
  <FilesMatch "\.(gif|ico)$">
      Header set Cache-Control "max-age=2592000, public"
  </FilesMatch>

  <FilesMatch "\.(js)$">
      Header set Cache-Control "max-age=88000, private, must-revalidate"
  </FilesMatch>

  <FilesMatch "\.(jsp)$">
      Header set Cache-Control "private, no-store, no-cache, must-revalidate, no-transform, max-age=0"
      Header set Pragma "no-cache"
  </FilesMatch>
</ifModule>

